* {
    font-family: 'Sigmar one', Arial;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.particles-js-canvas-el {
    position: absolute;
    top: 0;
    z-index: -1;
}
.container {
   display: flex;
   flex-wrap: wrap;
   background-color: #d8d8d8;
   width: 28em;
   height: 28em;
   border: 2px solid black;
   margin-top: 2vh;
}
.block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3em;
    height: 3em;
    margin: 4px;
    background-color: #ffffff;
    border-radius: 4px;
}
.blockLayer {
    position: absolute;
    display: flex;
    width: 3em;
    height: 3em;
    background-color: #303030;
    border-radius: 4px;
}
.number {
    font-size: larger;
}
.bomb {
    background-image: url('../images/bomb.png');
    background-size: contain;
}
.flag {
    background-image: url('../images/flag.png');
    background-size: contain;
}
.textBox {
    display: flex;
    color: rgb(250, 250, 250);
    font-size: 250%;
    margin-top: 5vh;
    letter-spacing: 2px;
    text-align: center;
    z-index: 2;
}
.gameOver {
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: none;
    font-size: 250%;
    color: #535353;
    z-index: 2;
}
.restart {
    font-size: 0.5em;
}
button {
    border: none;
    border-radius: 8px;
    color: #535353;
    margin: 8px;
    padding: 4px 10px;
}
button:hover {
    cursor: pointer;
}
.footer {
    display: flex;
    position: fixed;
    background-color: white;
    bottom: 0;
    width: 100%;
    font-size: 120%;
    justify-content: center;
    align-items: center;
    color: #535353  ;
}
.heart {
    width: 20px;
    height: 20px;
    padding: 6px;
}
.rightern {
    position: absolute;
    right: 0;
    top: 0;
    padding: 4px 20px;
    color: white;
    background-color: #cccccc;
    border-radius: 0 0 0 0.5em;
}
@media only screen and (max-width: 600px) {
    .container {
        width: 20em;
        height: 20em;
        margin-top: 4vh;
    }
    .block {
        width: 2.1428em;
        height: 2.1428em;
        margin: 2.7px;
    }
    .blockLayer {
        width: 2.1428em;
        height: 2.1428em;
    }
    .rightern {
        padding: 2px 8px;
    }
    .textBox {
        margin-top: 2em;
        letter-spacing: normal;
    }
}